@keyframes running-text {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.running-text {
  white-space: nowrap;
  overflow: hidden;
  animation: running-text 3ms linear infinite;
}